<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ptbas.controlcenter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelPermitBAS"
        tools:targetApi="31">
        <activity
            android:name=".update.UpdateVehicleData"
            android:exported="false" />
        <activity
            android:name=".management.ProductDataManagementActivity"
            android:exported="false" />
        <activity
            android:name=".update.UpdateProductData"
            android:exported="false" />
        <activity
            android:name=".create.AddProductData"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ptbas.controlcenter.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".recap.RecapGoodIssueDataActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".management.InvoiceManagementActivity"
            android:exported="false" />
        <activity
            android:name=".management.CustomerManagementActivity"
            android:exported="false" />
        <activity
            android:name=".management.GoodIssueManagementActivity"
            android:exported="false" />
        <activity
            android:name=".management.ReceivedOrderManagementActivity"
            android:exported="false" />
        <activity
            android:name=".management.VehicleManagementActivity"
            android:exported="false" />
        <activity
            android:name=".management.UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddInvoiceActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.TravelPermitBAS.NoActionBar" />
        <activity
            android:name=".create.AddReceivedOrder"
            android:exported="false" />
        <activity
            android:name=".create.AddGoodIssueActivity"
            android:exported="false" />
        <activity
            android:name=".update.UpdateGoodIssueActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.UpdateEmailActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.UploadProfilePicActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>