<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ptbas.controlcenter">
    <queries> <package android:name="com.whatsapp" /> </queries>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelPermitBAS"
        tools:targetApi="31">
        <activity
            android:name=".update.UpdtVhlActivity"
            android:exported="false" />
        <activity
            android:name=".update.UpdtRcpActivity"
            android:exported="false" />
        <activity
            android:name=".management.ProdDataActivity"
            android:exported="false" />
        <activity
            android:name=".update.UpdtProdActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddProdActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddBankAccActivity"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ptbas.controlcenter.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".create.AddRcpActivity"
            android:exported="false" />

        <activity
            android:name=".create.AddAioReportActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddCustActivity"
            android:exported="false" />
        <activity
            android:name=".management.CoDataActivity"
            android:exported="false" />

        <activity
            android:name=".management.InvDataActivity"
            android:exported="false" />
        <activity
            android:name=".management.CustDataActivity"
            android:exported="false" />
        <activity
            android:name=".management.GiDataActivity"
            android:exported="false" />
        <activity
            android:name=".management.RcpDataActivity"
            android:exported="false" />
        <activity
            android:name=".management.RoDataActivity"
            android:exported="false" />
        <activity
            android:name=".management.SplrDataActivity"
            android:exported="false" />
        <activity
            android:name=".management.VhlDataActivity"
            android:exported="false" />
        <activity
            android:name=".management.UserDataActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddCoActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".create.AddInvActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".create.AddSplrActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.TravelPermitBAS.NoActionBar" />
        <activity
            android:name=".AllManagementMenusActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddRoActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddGiActivity"
            android:exported="false" />
        <activity
            android:name=".update.UpdtGiActivity"
            android:exported="false" />
        <activity
            android:name=".update.UpdtCoActivity"
            android:exported="false" />

        <activity
            android:name=".update.UpdtInvActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddVhlActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.UpdateEmailActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.UploadProfilePicActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>