<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ptbas.controlcenter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelPermitBAS"
        tools:targetApi="31">
        <activity
            android:name=".create.RecapGoodIssueDataActivity"
            android:exported="false" />
        <activity
            android:name=".AllShortcutsActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".management.InvoiceManagementActivity"
            android:exported="false" />
        <activity
            android:name=".management.CustomerManagementActivity"
            android:exported="false" />
        <activity
            android:name=".management.GoodIssueManagementActivity"
            android:exported="false" />
        <activity
            android:name=".management.ReceivedOrderManagementActivity"
            android:exported="false" />
        <activity
            android:name=".management.VehicleManagementActivity"
            android:exported="false" />
        <activity
            android:name=".management.UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.TravelPermitBAS.NoActionBar" />
        <activity
            android:name=".create.AddReceivedOrder"
            android:exported="false" />
        <activity
            android:name=".create.AddGoodIssueActivity"
            android:exported="false" />
        <activity
            android:name=".create.AddVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.UpdateEmailActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.UploadProfilePicActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".userprofile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>